body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

a {
  border-bottom: 2px dotted rgb(153, 153, 153);
  color: rgb(51, 51, 51);
  text-decoration: none;
}

a:hover {
  border-color: #f50057 !important;
  color: #f50057;
  cursor: pointer;
}
