{
  "AWSEBDockerrunVersion": 2,
  "volumes": [
    {
      "name": "certs",
      "host": {
        "sourcePath": "/home/ec2-user/certs"
      }
    },
    {
      "name": "html",
      "host": {
        "sourcePath": "/home/ec2-user/html"
      }
    },
    {
      "name": "docker_sock",
      "host": {
        "sourcePath": "/var/run/docker.sock"
      }
    },
    {
      "name": "acme",
      "host": {
        "sourcePath": "/home/ec2-user/acme"
      }
    }
  ],
  "containerDefinitions": [
    {
      "name": "nginx-proxy",
      "image": "nginxproxy/nginx-proxy",
      "essential": true,
      "memoryReservation": 64,
      "portMappings": [
        {
          "containerPort": 80,
          "hostPort": 80
        },
        {
          "containerPort": 443,
          "hostPort": 443
        }
      ],
      "mountPoints": [
        {
          "sourceVolume": "certs",
          "containerPath": "/etc/nginx/certs"
        },
        {
          "sourceVolume": "html",
          "containerPath": "/usr/share/nginx/html"
        },
        {
          "sourceVolume": "docker_sock",
          "containerPath": "/tmp/docker.sock",
          "readOnly": true
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "/aws/elasticbeanstalk/main/dockerlogs",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "nginx-proxy"
        }
      }
    },
    {
      "name": "nginx-proxy-acme",
      "image": "nginxproxy/acme-companion",
      "essential": true,
      "memory": 64,
      "environment": [
        {
          "name": "DEFAULT_EMAIL",
          "value": "v@vladimirfeskov.com"
        }
      ],
      "volumesFrom": [
        {
          "sourceContainer": "nginx-proxy"
        }
      ],
      "mountPoints": [
        {
          "sourceVolume": "docker_sock",
          "containerPath": "/var/run/docker.sock",
          "readOnly": true
        },
        {
          "sourceVolume": "acme",
          "containerPath": "/etc/acme.sh"
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "/aws/elasticbeanstalk/main/dockerlogs",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "letsencrypt-nginx-proxy-companion"
        }
      }
    },
    {
      "name": "war-of-bob",
      "image": "vfeskov/war-of-bob",
      "essential": true,
      "memoryReservation": 128,
      "environment": [
        {
          "name": "VIRTUAL_HOST",
          "value": "bob.vfeskov.com,www.bob.vfeskov.com"
        },
        {
          "name": "LETSENCRYPT_HOST",
          "value": "bob.vfeskov.com,www.bob.vfeskov.com"
        },
        {
          "name": "LETSENCRYPT_EMAIL",
          "value": "v@vladimirfeskov.com"
        },
        {
          "name": "AWS_ACCESS_KEY_ID",
          "value": "{{WOB_AWS_ACCESS_KEY_ID}}"
        },
        {
          "name": "AWS_SECRET_ACCESS_KEY",
          "value": "{{WOB_AWS_SECRET_ACCESS_KEY}}"
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "/aws/elasticbeanstalk/main/dockerlogs",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "war-of-bob"
        }
      }
    },
    {
      "name": "gitpunch",
      "image": "${DOCKER_IMAGE}",
      "essential": true,
      "memoryReservation": 640,
      "environment": [
        {
          "name": "VIRTUAL_HOST",
          "value": "beer.vfeskov.com,winabeer.com,www.winabeer.com,gitpunch.com,www.gitpunch.com,www.beer.vfeskov.com"
        },
        {
          "name": "LETSENCRYPT_HOST",
          "value": "beer.vfeskov.com,winabeer.com,www.winabeer.com,gitpunch.com,www.gitpunch.com,www.beer.vfeskov.com"
        },
        {
          "name": "LETSENCRYPT_EMAIL",
          "value": "v@vladimirfeskov.com"
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "/aws/elasticbeanstalk/main/dockerlogs",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "gitpunch"
        }
      }
    }
  ]
}
